---
import Brand from "../assets/icons/brand.svg";
---

<footer class="w-full border-black/10 bg-white mt-10 pt-16 pb-6">
  <div class="container max-w-screen-2xl mx-auto px-8 md:px-12 lg:px-16 xl:px-20 flex flex-col lg:flex-row lg:justify-between lg:items-start gap-40">
    <img src={Brand.src} alt="CAN Logo" class="w-32 mb-2" /> 
    <div class="flex flex-col md:flex-row gap-12 flex-1 justify-between">
      <div>
        <div class="font-medium mb-2">Home</div>
        <ul class="space-y-1 text-gray-700 text-base">
          <li><a href="/products" class="hover:underline">Products</a></li>
          <li><a href="/technology" class="hover:underline">Technology</a></li>
          <li><a href="/contact" class="hover:underline">Contact</a></li>
        </ul>
      </div>
      <div>
        <div class="font-medium mb-2">CAN T&C</div>
        <ul class="space-y-1 text-gray-700 text-base">
          <li><a href="/warranty-policy" class="hover:underline">Warranty Policy</a></li>
          <li><a href="/iq-world-tnc" class="hover:underline">IQ World T&C</a></li>
          <li><a href="/technical-requirement" class="hover:underline">Technical Requirement</a></li>
        </ul>
      </div>
      <div>
        <div class="font-medium mb-2 tracking-widest">SOCIAL</div>
        <ul class="space-y-1 text-base">
          <li><a href="#" class="underline hover:text-black">Facebook</a></li>
          <li><a href="#" class="underline hover:text-black">Instagram</a></li>
          <li><a href="#" class="underline hover:text-black">YouTube</a></li>
        </ul>
      </div>
      <div>
        <div class="font-medium mb-2 tracking-widest">CONTACT</div>
        <ul class="space-y-1 text-base">
          <li><a href="mailto:sales@cansignage.com" class="underline hover:text-black">sales@sorabent.com</a></li>
          <li>Office: +65 6224 8816</li>
          <li class="text-xs leading-5 mt-2">10, Ubi Crescent, Lobby E <br/> #02-93, Ubi Techpark, <br/>Singapore 408564.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container max-w-screen-2xl mx-auto px-8 md:px-20 mt-12">
    <div class="text-xs text-gray-500">© 2025 Sorab Enterprise Pte. Ltd.</div>
  </div>
</footer>